<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="MyServer" value="comet-direct.usbx.me" />
        <add key="MyDB" value="schooldb" />
        <add key="MyUser" value="yh_isac" />
        <add key="MyPW" value="Nv0SxS8#4xny" />
    </appSettings>
</configuration>